<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10</display-name>
  <welcome-file-list>
    <welcome-file>ShowAllBooksServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllBooksServlet</display-name>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <servlet-class>com.carl.web.controller.ShowAllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <url-pattern>/ShowAllBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.carl.web.controller.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.carl.web.controller.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.carl.web.controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNumServlet</display-name>
    <servlet-name>ChangeNumServlet</servlet-name>
    <servlet-class>com.carl.web.controller.ChangeNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNumServlet</servlet-name>
    <url-pattern>/ChangeNumServlet</url-pattern>
  </servlet-mapping>
</web-app>