<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day15</display-name>
  <welcome-file-list>
    <welcome-file>ShowAllCustomersServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllCustomersServlet</display-name>
    <servlet-name>ShowAllCustomersServlet</servlet-name>
    <servlet-class>com.carl.web.controller.ShowAllCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCustomersServlet</servlet-name>
    <url-pattern>/ShowAllCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.carl.web.controller.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServletUI</display-name>
    <servlet-name>UpdateCustomerServletUI</servlet-name>
    <servlet-class>com.carl.web.controller.UpdateCustomerServletUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServletUI</servlet-name>
    <url-pattern>/UpdateCustomerServletUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.carl.web.controller.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.carl.web.controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelMultiServlet</display-name>
    <servlet-name>DelMultiServlet</servlet-name>
    <servlet-class>com.carl.web.controller.DelMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMultiServlet</servlet-name>
    <url-pattern>/DelMultiServlet</url-pattern>
  </servlet-mapping>
</web-app>