<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	
<!-- 		<property name="hibernate.connection.url">jdbc:mysql:///itcastoa</property> -->
<!-- 		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		<property name="hibernate.connection.username">root</property> -->
<!-- 		<property name="hibernate.connection.password">4542212</property> -->
	

	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<!-- 其他配置信息 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 声明映射文件 -->
<!-- 	<mapping resource="cn/itcast/oa/domain/User.hbm.xml" /> -->

<mapping class="cn.itcast.oa.domain.User"/>
<mapping class="cn.itcast.oa.domain.Role"/>
</session-factory>
</hibernate-configuration>