<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day21</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>com.carl.listener.HttpSessionDemoListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UploadServlet1</display-name>
    <servlet-name>UploadServlet1</servlet-name>
    <servlet-class>com.carl.upload.UploadServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet1</servlet-name>
    <url-pattern>/UploadServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet2</display-name>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>com.carl.upload.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet3</display-name>
    <servlet-name>UploadServlet3</servlet-name>
    <servlet-class>com.carl.upload.UploadServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet3</servlet-name>
    <url-pattern>/UploadServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllFilesServlet</display-name>
    <servlet-name>ShowAllFilesServlet</servlet-name>
    <servlet-class>com.carl.web.controller.ShowAllFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllFilesServlet</servlet-name>
    <url-pattern>/ShowAllFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.carl.web.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>